* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .list-product {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    background: white;
  }
  
  .listproduct-format-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    margin-top: 10px;
  }
  
  .listproduct-remove-icon {
    cursor: pointer;
  }
  
  .listproduct-main {
    display: flex;
    gap: 80px;
    align-items: center;
    font-weight: 500;  
    margin: 10px 0; /* Add margin to all sides */
  }
  
  
  
  .list-product-icon {
    height: 100px;
    width: auto;
  }
  
  .listproduct-allproducts {
    max-height: 400px; /* Adjust the max-height as needed */
    overflow-y: auto;
  }
  
  
  @media (min-width: 768px) {
    .list-product {
      box-sizing: border-box;
      width: 95%;
      height: 100%;
      margin: 20px;
      padding: 10px 30px;
    }
    .listproduct-format-main {
      padding: 15px 0px;
      color: #454545;
      font-size: 12px;
    }
    .list-product-icon {
      height: 60px;
    }
  }
  